<header class="slide-title">
  <h1 class="title">
    <span class="title-main">{{text.title.main}}</span>
    <span class="title-sub">{{text.title.sub}}</span>
  </h1>
  <h2 class="subtitle">{{text.subtitle}}</h2>
  <date class="date">{{text.data}}</date>
  <ul class="authors">
    <li><a href="{{text.author.url}}">{{text.author.name}}</a></li>
    <li>with</li>
    <li><a href="{{text.advisor.url}}">{{text.advisor.name}}</a></li>
  </ul>
  <div class="marks">
    <img src="DIGEST(/images/tmdsc/tmd-crystal-top.png)"
         alt="TMD crystal">
    <img src="DIGEST(/images/ucr-logo-white.svg)"
         alt="{{text.ucr.name}}">
  </div>
</header>

<section class="slide-background">
  <h2>Background</h2>
  <div class="background-2d">
    <figure class="fig-graphene">
      <figcaption>
        By AlexanderAlUS (Own work)
        [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0
        </a>
        or
        <a href="http://www.gnu.org/copyleft/fdl.html">GFDL</a>],
        <a href="https://commons.wikimedia.org/wiki/File%3AGraphen.jpg">
          via Wikimedia Commons
        </a>
      </figcaption>
      <img src="DIGEST(/images/graphene.jpg" alt="">
    </figure>
    <div class="background-2d-bullets">
      <h3>2D Materials promise novel application</h3>
      <ul>
        <li>Graphene discovered 2004</li>
        <li>Unique properties from the bulk</li>
        <li>Hexagonal lattice, high electron mobility</li>
        <li>Relativistic low-energy model: Dirac cones, linear dispersion</li>
        <li>Monolayer TMDs: hexagonal lattice</li>
        <li>Gapped with strong spin-orbit coupling</li>
        <li>Strong, flexible &amp; transparent</li>
        <li>Both excellent candidates for spintronic devices</li>
      </ul>
    </div>
  </div>
  <div class="background-spin">
    <h3>Spintronics</h3>
    <ul>
      <li>Nobel Prize for GMR in 2007</li>
      <li>A future with devices built on spin-current</li>
      <li>Smaller and lower power</li>
      <li>Need to find suitable materials</li>
      <li>Graphene? Predicted excellent conductor for spin-current</li>
      <li>TMDs? No spin degeneracy and spin couples to light polarization</li>
    </ul>
  </div>
  </div>
</section>

<section class="slide-geometry">
  <h2>Device geometry</h2>
  <div class="main">
    <ul class="equations">
      <li>\( L \) : contact spacing</li>
      <li>\( D \) : diffusion constant</li>
      <li>\( \tau \) : spin lifetime</li>
      <li>\( \lambda = \sqrt{D \tau} \)</li>
      <li>\( \omega = g \mu_B B / \hbar \)</li>
    </ul>
    <figure class="device">
      <img class="spin-valve"
      src="DIGEST(/images/spin-lifetime/tikz-nonlocal_spin_valve.png)" />
    </figure>
    <ul class="equations">
      <li>
        \( \mu_s = \frac{1}{2}
        \left( \mu_{\uparrow} - \mu_{\downarrow} \right) \)
      </li>
      <li>
        \( J_{\uparrow \downarrow}
        = \sigma_{\uparrow \downarrow} \nabla \mu_{\uparrow \downarrow} \)
      </li>
      <li>
        \( J_{\uparrow \downarrow}^C = \Sigma_{\uparrow \downarrow}
        \left( \mu^N_{\uparrow \downarrow}
        - \mu^F_{\uparrow \downarrow} \right)_c \)
      </li>
      <li>\( J = J_{\uparrow} + J_{\downarrow} \)</li>
      <li>\( J_s = J_{\uparrow} - J_{\downarrow} \)</li>
    </ul>
  </div>
  <div>
    <p>$$D \nabla^2 \mu_s - \frac{\mu_s}{\tau} + \omega \times \mu_s = 0$$</p>
    <p>$$V \propto \mu_s^N(x = L)$$</p>
    <p>$$R_\text{NL} = V / I$$</p>
  </div>
  {{cite references id="ActaPhysicaSlovaca.57.4_5.565-907"}}
  {{cite references id="PhysRevB.37.5312"}}
  {{cite references id="PhysRevB.67.052409"}}
  {{cite references id="PhysRevB.80.214427"}}
</section>

<section>
  <h2>Motivation for solution</h2>
  <h3>Existing results</h3>
  <ul>
    <li>All existing analytic expressions ignore contact resistance</li>
    <li>Assume infinite resistance for convenience</li>
    <li>Integral form widely used but difficult to fit</li>
    <li>Only a numeric treatment of finite contact resistance</li>
  </ul>
  <p>
    $$
    R_{\text{NL}} \propto \text{Re}
    {\frac{e^{- \left( L / \lambda \right) \sqrt{1 + i \omega \tau}}}
    {2 \sqrt{1 + i \omega \tau}}}
    $$
  </p>
  <p>
    $$
    R_{\text{NL}} \propto \int_0^{\infty} \frac{1}{\sqrt{4 \pi D t}}
    \exp{\left[ - \frac{L^2}{4 D t} \right]} e^{-t / \tau} \cos{\omega t} \: dt
    $$
  </p>
  <h3>Our approach</h3>
  <ul>
    <li>Finite contact resistance</li>
    <li>Exact analytic expression</li>
    <li>Matches previous approaches in appropriate limits</li>
  </ul>
</section>

<section class="slides-resistance">
  <h2>Non-local resistance</h2>
  <p>$$\Delta R_{\text{NL}} = 2 P^2 R_N \left\lvert f \right\rvert$$</p>
  <ul class="equations">
    <li>\( r = \frac{R_F + R_C}{R_{\text{SQ}}} W \)</li>
    <li>\( R_{\text{SQ}} = W / \sigma^N \)</li>
    <li>\( R_N = \frac{\lambda}{W L} \frac{1}{\sigma^N} \)</li>
  </ul>
  <p>
    $$
    f
    = \text{Re} \left\{ \left(
      2 \left[ \sqrt{1 + i \omega \tau} + (\lambda / r) \right]
      e^{\left( L / \lambda \right) \sqrt{1 + i \omega \tau}}
    + (\lambda / r)^2 \frac{
      \sinh{\left[ \left( L / \lambda \right) \sqrt{1 + i \omega \tau} \right]}}
      {\sqrt{1 + i \omega \tau}}
      \right)^{-1} \right\}
    $$
  </p>
  <p>Only scales that appear in \( f \)</p>
  <ul class="equations">
    <li>\( L / \lambda \)</li>
    <li>\( \lambda / r \)</li>
    <li>\( \omega \tau \)</li>
  </ul>
  {{cite references id="PhysRevB.89.245436"}}
</section>

<section class="slides-fits">
  <h2>Fits</h2>
  <div class="main">
    <div>
      <h3>Tunneling contacts</h3>
      <figure>
        <figcaption>
          Fit to parallel field data from Fig. 4a of W. Han, et al.
        </figcaption>
        <img src="DIGEST(/images/spin-lifetime/fig_4a_difference.svg)" />
      </figure>
      <ul class="equations">
        {{fitvals fits fit="a"}}
      </ul>
    </div>
    <div>
      <h3>Tunneling contacts</h3>
      <figure>
        <figcaption>
          Fit to parallel field data from Fig. 4b of W. Han, et al.
        </figcaption>
        <img src="DIGEST(/images/spin-lifetime/fig_4b_difference.svg)" />
      </figure>
      <ul class="equations">
        {{fitvals fits fit="b"}}
      </ul>
    </div>
  </div>
  {{cite references id="PhysRevLett.105.167202"}}
</section>

<section class="slides-fits">
  <h2>Fits</h2>
  <div class="main">
    <div>
      <h3>Pinhole contacts</h3>
      <figure>
        <figcaption>
          Fit to parallel field data from Fig. 4c of W. Han, et al.
        </figcaption>
        <img src="DIGEST(/images/spin-lifetime/fig_4c_parallel.svg)" />
      </figure>
      <ul class="equations">
        {{fitvals fits fit="c"}}
      </ul>
    </div>
    <div>
      <h3>Transparent contacts</h3>
      <figure>
        <figcaption>
          Fit to parallel field data from Fig. 4d of W. Han, et al.
        </figcaption>
        <img src="DIGEST(/images/spin-lifetime/fig_4d_difference.svg)" />
      </figure>
      <ul class="equations">
        {{fitvals fits fit="d"}}
      </ul>
    </div>
  </div>
  {{cite references id="PhysRevLett.105.167202"}}
</section>
