<header class="slide-title">
  <h1 class="title">
    <span class="title-main">{{text.title.main}}</span>
    <span class="title-sub">{{text.title.sub}}</span>
  </h1>
  <h2 class="subtitle">{{text.subtitle}}</h2>
  <date class="date">{{text.date}}</date>
  <ul class="authors">
    <li><a href="{{text.author.url}}">{{text.author.name}}</a></li>
    <li>with</li>
    <li><a href="{{text.advisor.url}}">{{text.advisor.name}}</a></li>
  </ul>
  <div class="marks">
    <img src="DIGEST(/images/tmdsc/tmd-crystal-top.png)"
         alt="TMD crystal">
    <img src="DIGEST(/images/ucr-logo-white.svg)"
         alt="{{text.ucr.name}}">
  </div>
</header>

<section class="slide-background">
  <h2>Background</h2>
  <div class="background-2d">
    <figure class="fig-graphene">
      <img src="DIGEST(/images/graphene.jpg)" alt="Graphene">
      <figcaption>
        By AlexanderAlUS (Own work)
        [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0
        </a>
        or
        <a href="http://www.gnu.org/copyleft/fdl.html">GFDL</a>],
        <a href="https://commons.wikimedia.org/wiki/File%3AGraphen.jpg">
          via Wikimedia Commons
        </a>
      </figcaption>
    </figure>
    <div class="background-2d-bullets">
      <h3>2D Materials promise novel application</h3>
      <ul>
        <li>Graphene discovered 2004</li>
        <li>Unique properties from the bulk</li>
        <li>Hexagonal lattice, high electron mobility</li>
        <li>Relativistic low-energy model: Dirac cones, linear dispersion</li>
        <li>Monolayer TMDs: hexagonal lattice</li>
        <li>Gapped with strong spin-orbit coupling</li>
        <li>Strong, flexible &amp; transparent</li>
        <li>Both excellent candidates for spintronic devices</li>
      </ul>
    </div>
  </div>
  <div class="background-spin">
    <h3>Spintronics</h3>
    <ul>
      <li>Nobel Prize for GMR in 2007</li>
      <li>A future with devices built on spin-current</li>
      <li>Smaller and lower power</li>
      <li>
        <strong>Graphene?</strong>
        Predicted excellent conductor for spin-current
      </li>
      <li>
        <strong>TMDs?</strong>
        No spin degeneracy and spin couples to light polarization
      </li>
    </ul>
  </div>
</section>

<section class="slide-spin-overview">
  <h2>Overview for Part I</h2>
  <div class="main">
    <div>
      <h3>Spin lifetime</h3>
      <ul>
        <li>Spin signals degrade via internal scattering</li>
        <li>Spin lifetime measures how quickly this happens</li>
        <li>Critical to find materials with long spin lifetimes</li>
      </ul>
    </div>
    <div>
      <h3>Motivation</h3>
      <ol>
        <li>
          Theoretical predictions longer than measured:
          \( \text{ms} \) vs. \( \text{ps} \)
        </li>
        <li>Finite contact resistance mismatch: a potential candidate</li>
        <li>Unified analytic solution for fitting data in all limits</li>
      </ol>
    </div>
    <figure>
      <img src="DIGEST(/images/spin-lifetime/device.svg)"
           alt="Spintronic device" />
    </figure>
    <div class="outline">
      <h3>Outline</h3>
      <ol>
        <li>Model and solution</li>
        <li>Hanle curve fitting</li>
        <li>Regimes and results</li>
      </ol>
    </div>
  </div>
  {{cite references id="PhysRevB.89.245436"}}
</section>

<section class="slide-geometry">
  <h2>Device geometry</h2>
  <div class="main">
    <ul class="equations">
      <li>\( L \) : contact spacing</li>
      <li>\( D \) : diffusion constant</li>
      <li>\( \tau \) : spin lifetime</li>
      <li>\( \lambda = \sqrt{D \tau} \)</li>
      <li>\( \omega = g \mu_B B / \hbar \)</li>
    </ul>
    <figure class="device">
      <img class="spin-valve"
           src="DIGEST(/images/spin-lifetime/tikz-nonlocal_spin_valve.png)"
           alt="Nonlocal spin valve" />
    </figure>
    <ul class="equations">
      <li>
        \( \mu_s = \frac{1}{2}
        \left( \mu_{\uparrow} - \mu_{\downarrow} \right) \)
      </li>
      <li>
        \( J_{\uparrow \downarrow}
        = \sigma_{\uparrow \downarrow} \nabla \mu_{\uparrow \downarrow} \)
      </li>
      <li>
        \( J_{\uparrow \downarrow}^C = \Sigma_{\uparrow \downarrow}
        \left( \mu^N_{\uparrow \downarrow}
        - \mu^F_{\uparrow \downarrow} \right)_c \)
      </li>
      <li>\( J = J_{\uparrow} + J_{\downarrow} \)</li>
      <li>\( J_s = J_{\uparrow} - J_{\downarrow} \)</li>
    </ul>
  </div>
  <div>
    <p>$$D \nabla^2 \mu_s - \frac{\mu_s}{\tau} + \omega \times \mu_s = 0$$</p>
    <p>$$V \propto \mu_s^N(x = L)$$</p>
    <p>$$R_\text{NL} = V / I$$</p>
  </div>
  {{cite references id="ActaPhysicaSlovaca.57.4_5.565-907"}}
  {{cite references id="PhysRevB.37.5312"}}
  {{cite references id="PhysRevB.67.052409"}}
  {{cite references id="PhysRevB.80.214427"}}
</section>

<section class="slide-spin-motivation">
  <h2>Motivation for solution</h2>
  <h3>Existing results</h3>
  <ul>
    <li>All existing analytic expressions ignore contact resistance</li>
    <li>Assume infinite resistance for convenience</li>
    <li>Integral form widely used but difficult to fit</li>
    <li>Only a numeric treatment of finite contact resistance</li>
  </ul>
  <p>
    $$
    R_{\text{NL}} \propto \text{Re}
    {\frac{e^{- \left( L / \lambda \right) \sqrt{1 + i \omega \tau}}}
    {2 \sqrt{1 + i \omega \tau}}}
    $$
  </p>
  <p>
    $$
    R_{\text{NL}} \propto \int_0^{\infty} \frac{1}{\sqrt{4 \pi D t}}
    \exp{\left[ - \frac{L^2}{4 D t} \right]} e^{-t / \tau} \cos{\omega t} \: dt
    $$
  </p>
  <h3>Our approach</h3>
  <ul>
    <li>Finite contact resistance</li>
    <li>Exact analytic expression</li>
    <li>Matches previous approaches in appropriate limits</li>
  </ul>
</section>

<section class="slide-resistance">
  <h2>Non-local resistance</h2>
  <p>$$\Delta R_{\text{NL}} = 2 P^2 R_N \left\lvert f \right\rvert$$</p>
  <ul class="equations">
    <li>\( r = \frac{R_F + R_C}{R_{\text{SQ}}} W \)</li>
    <li>\( R_{\text{SQ}} = W / \sigma^N \)</li>
    <li>\( R_N = \frac{\lambda}{W L} \frac{1}{\sigma^N} \)</li>
  </ul>
  <p>
    $$
    f
    = \text{Re} \left\{ \left(
      2 \left[ \sqrt{1 + i \omega \tau} + (\lambda / r) \right]
      e^{\left( L / \lambda \right) \sqrt{1 + i \omega \tau}}
    + (\lambda / r)^2 \frac{
      \sinh{\left[ \left( L / \lambda \right) \sqrt{1 + i \omega \tau} \right]}}
      {\sqrt{1 + i \omega \tau}}
      \right)^{-1} \right\}
    $$
  </p>
  <p>Only scales that appear in \( f \)</p>
  <ul class="equations">
    <li>\( L / \lambda \)</li>
    <li>\( \lambda / r \)</li>
    <li>\( \omega \tau \)</li>
  </ul>
  {{cite references id="PhysRevB.89.245436"}}
</section>

<section class="slide-fits">
  <h2>Fits</h2>
  <div class="main">
    <div class="fit">
      <h3>Tunneling contacts</h3>
      <figure>
        <figcaption>
          Fit to parallel field data from Fig. 4a of W. Han, et al.
        </figcaption>
        <img src="DIGEST(/images/spin-lifetime/fig_4a_difference.svg)" />
      </figure>
      <ul class="equations">
        {{fitvals fits fit="a"}}
      </ul>
    </div>
    <div class="fit">
      <h3>Tunneling contacts</h3>
      <figure>
        <figcaption>
          Fit to parallel field data from Fig. 4b of W. Han, et al.
        </figcaption>
        <img src="DIGEST(/images/spin-lifetime/fig_4b_difference.svg)" />
      </figure>
      <ul class="equations">
        {{fitvals fits fit="b"}}
      </ul>
    </div>
  </div>
  {{cite references id="PhysRevLett.105.167202"}}
</section>

<section class="slide-fits">
  <h2>Fits</h2>
  <div class="main">
    <div class="fit">
      <h3>Pinhole contacts</h3>
      <figure>
        <figcaption>
          Fit to parallel field data from Fig. 4c of W. Han, et al.
        </figcaption>
        <img src="DIGEST(/images/spin-lifetime/fig_4c_parallel.svg)" />
      </figure>
      <ul class="equations">
        {{fitvals fits fit="c"}}
      </ul>
    </div>
    <div class="fit">
      <h3>Transparent contacts</h3>
      <figure>
        <figcaption>
          Fit to parallel field data from Fig. 4d of W. Han, et al.
        </figcaption>
        <img src="DIGEST(/images/spin-lifetime/fig_4d_difference.svg)" />
      </figure>
      <ul class="equations">
        {{fitvals fits fit="d"}}
      </ul>
    </div>
  </div>
  {{cite references id="PhysRevLett.105.167202"}}
</section>

<section class="slide-regimes">
  <h2>Regimes</h2>
    <h3>Zero field</h3>
    <p>
      $$
      \Delta R_{\text{NL}} = \left( P_{\Sigma}^L \right)^2 R_N e^{- L / \lambda}
      $$
    </p>
    <h3>Tunneling contacts</h3>
    <p>
      $$
      f^{\infty}
      = \text{Re}
        {\frac{e^{- \left( L / \lambda \right) \sqrt{1 + i \omega \tau}}}
        {2 \sqrt{1 + i \omega \tau}}}
      $$
    </p>
  <h3>Fits independent of lifetime</h3>
  <p>\( \lambda / r \gg \sqrt{\omega \tau} \gg 1 \)</p>
  <p>
    Zeros determined by
    $$
    L \sqrt{\frac{D}{2 \omega}} + \frac{\pi}{4} = \frac{n \pi}{2}
    $$
  </p>
  {{cite references id="PhysRevB.89.245436"}}
</section>

<section class="slide-fits">
  <h2>Fits: \( \tau \) Independent Limit</h2>
  <div class="main">
    <div class="fit">
      <h3>Transparent contacts</h3>
      <figure>
        <figcaption>
          Fit to parallel field data from Fig. 4d of W. Han, et al.
        </figcaption>
        <img src="DIGEST(/images/spin-lifetime/fig_4d_difference_large_lifetime.svg)" />
      </figure>
      <ul class="equations">
        {{fitvals fits fit="d_1"}}
      </ul>
    </div>
    <div class="fit">
      <h3>Transparent contacts</h3>
      <figure>
        <figcaption>
          Fit to parallel field data from Fig. 4d of W. Han, et al.
        </figcaption>
        <img src="DIGEST(/images/spin-lifetime/fig_4d_difference_larger_lifetime.svg)" />
      </figure>
      <ul class="equations">
        {{fitvals fits fit="d_2"}}
      </ul>
    </div>
  </div>
  {{cite references id="PhysRevLett.105.167202"}}
</section>

<section class="slide-spin-software">
  <h2>Software</h2>
  <h3>Data Fitting with SciPy</h3>
  <p>Independent Python package for general curve fitting</p>
  <p>
    <a href="https://{{text.scipy-data_fitting}}">
      {{text.scipy-data_fitting}}
    </a>
  </p>
  <h3>Fitalyzer</h3>
  <p>Browser based fitting visualizer</p>
  <p>
    <a href="https://{{text.scipy-data_fitting}}">
      {{text.scipy-data_fitting}}
    </a>
  </p>
</section>

<section class="slide-tmdsc-overview">
  <h2>Transition metal dichalcogenides</h2>
  <ol>
    <li>TMD overview and tight-biding, low-energy, two-valley model</li>
    <li>Intrinsic and induced superconductivity</li>
    <li>Intervalley and intravalley paring channels</li>
    <li>Optical valley selection rules and Berry curvature</li>
  </ol>
  <div class="figures">
    <figure class="crystal">
      <img src="DIGEST(/images/tmdsc/tmd-crystal-top.png)"
           alt="TMD crystal (top view)">
    </figure>
    <figure class="crystal">
      <img src="DIGEST(/images/tmdsc/tmd-crystal-side.png)"
           alt="TMD crystal (side view)">
    </figure>
  </div>
</section>

<section class="slide-tmds">
  <h2>TMD monolayers</h2>
  <div class="main">
    <ul>
      <li>
        Direct band gap semiconductors:
        \( \mathrm{MoS_2} \), \( \mathrm{WS_2} \), \( \mathrm{MoSe_2} \),
        \( \mathrm{WSe_2} \)
      </li>
      <li><strong>Break inversion symmetry</strong> ⇒ gapped out spectrum</li>
      <li><strong>Two inequivalent valleys </strong> ⇒ new degree of freedom</li>
      <li>
        <strong>Strong spin-orbit coupling</strong> ⇒
        large valance band spin-splitting
      </li>
      <li>Opposite valley Berry curvature</li>
      <li>Optical valley probe and valley Hall effect</li>
      <li>
        Two state tight binding model:
        \( d_{z^2} \), and \( d_{xy} \pm i d_{x^2 - y^2} \)
      </li>
    </ul>
    <figure>
      <img src="DIGEST(/images/tmdsc/bands.svg)" alt="TMD energy bands">
    </figure>
  </div>
  <p>
    $$
    H_0^{\tau s} \left( \mathbf{k} \right)
    = a t \left(\tau k_x s_x + k_y s_y \right) \otimes I_2
    + \frac{\Delta}{2} s_z \otimes I_2
    - \lambda \tau \left(\sigma_z - 1 \right) \otimes S_z
    $$
  </p>
  {{cite references id="PhysRevLett.108.196802"}}
</section>

<section class="slide-energy">
  <h2>Energy bands</h2>
  <div class="bands">
    <figure>
      <img src="DIGEST(/images/tmdsc/energy-bands.svg)"
           alt="Energy bands">
    </figure>
    <div class="values">
      <ul>
        <li>\( \Delta \)—band splitting</li>
        <li>\( \lambda \)—spin splitting</li>
        <li>\( \tau \)—valley index</li>
        <li>\( s \)—spin index</li>
      </ul>
      <ul>
        <li>\( a t = 3.15 \) Å eV</li>
        <li>\( \Delta = 1.66 \) eV</li>
        <li>\( 2 \lambda = 0.15 \) eV</li>
        <li>\( \mu = -0.83 \) eV</li>
      </ul>
    </div>
  </div>
  <div>
    $$
    E_{\tau \sigma}^n \left( \mathbf{k} \right)
    = \frac{1}{2} \left( \lambda \tau \sigma
    + n \sqrt{(2 a t)^2
    {\left\lvert \mathbf{k} \right\rvert}^2
    + {\left( \Delta - \lambda \tau \sigma \right)}^2}
    \right)
    $$
  </div>
</section>

<section class="slide-tmd-optical">
  <h2>Optical excitations</h2>
  <div class="main">
    <figure>
      <img src="DIGEST(/images/tmdsc/optical-transitions.svg)"
           alt="Optical transitions">
    </figure>
    <figure>
      <img src="DIGEST(/images/tmdsc/band-transitions.svg)"
           alt="Band transitions">
    </figure>
    <div>
      $$
      H^A
      = \sum_{\mathbf{k}, \tau, s, n, n'}
      \frac{e A_0}{m_0}
      \mathbf{\epsilon} \cdot
      \mathbf{P}_{\tau s}^{n n'} \left( \mathbf{k} \right)
      {c_{\tau s}^n}^{\dagger} \left( \mathbf{k} \right)
      c_{\tau s}^{n'} \left( \mathbf{k} \right)
      $$
    </div>
    <div>
      <h3>Optoelectronic coupling</h3>
      <ul>
        <li>
          <strong>Right</strong> circularly polarized light couples to
          <strong>right</strong> valley \( P_+ \)
        </li>
        <li>
          <strong>Left</strong> circularly polarized light couples to
          <strong>left</strong> valley \( P_- \)
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="slide-hall">
  <h2>Valley Hall effect</h2>
  <div class="main">
    <figure class="hall-effect">
      <img src="DIGEST(/images/tmdsc/hall.svg") />
    </figure>
    <figure>
      <img src="DIGEST(/images/tmdsc/band-transitions.svg)"
      alt="Band transitions">
    </figure>
    <div>
      <h3>Semiclassical equations</h3>
      <p>
        \( \dot{\mathbf{r}}
        = \nabla_{\mathbf{k}} E \left( \mathbf{k} \right)
        - \dot{\mathbf{k}} \times \mathbf{\Omega} \left( \mathbf{k} \right) \)
      </p>
      <p>
        \( \dot{\mathbf{k}}
        = -e \mathbf{E} - e \dot{\mathbf{r}} \times \mathbf{B} \)
      </p>
      <h4>Anomalous velocity</h4>
      <p>
        \( \mathbf{v}
        = e \mathbf{\Omega} \left( \mathbf{k} \right) \times \mathbf{E} \)
      </p>
    </div>
    <div>
      <h3>Berry curvature</h3>
      <p>
        \( \mathbf{\Omega}_{\tau \sigma}^n \left( \mathbf{k} \right)
        = \nabla_{\mathbf{k}} \times
        \left\langle u_{\tau \sigma}^n \left( \mathbf{k} \right)
        \right\rvert i \nabla_{\mathbf{k}}
        \left\lvert u_{\tau \sigma}^n \left( \mathbf{k} \right) \right\rangle \)
      </p>
      <h4>Broken inversion symmetry</h4>
      <p>
        \( \mathbf{\Omega}_{\tau, \sigma}^n \left( \mathbf{k} \right)
        = - \mathbf{\Omega}_{-\tau, \sigma}^n \left( \mathbf{k} \right)
        \neq 0 \)
      </p>
    </div>
  </div>
</section>

<footer class="slide-end">
  <h1 class="title">
    <span class="title-main">{{text.title.main}}</span>
    <span class="title-sub">{{text.title.sub}}</span>
  </h1>
  <p class="authors"><a href="{{text.author.url}}">{{text.author.name}}</a></p>
  <h4>Slides</h4>
  <p><a href="https://{{text.slides}}">{{text.slides}}</a></p>
  <h4>Source</h4>
  <p><a href="https://{{text.source}}">{{text.source}}</a></p>
  <div class="marks">
    <img src="DIGEST(/images/tmdsc/tmd-crystal-top.png)"
         alt="TMD crystal">
    <img src="DIGEST(/images/ucr-logo-white.svg)"
         alt="{{text.ucr.name}}">
  </div>
</footer>
