<header class="slide-title">
  <h1 class="title">
    <span class="title-main">{{text.title.main}}</span>
    <span class="title-sub">{{text.title.sub}}</span>
  </h1>
  <h2 class="subtitle">{{text.subtitle}}</h2>
  <date class="date">{{text.data}}</date>
  <ul class="authors">
    <li><a href="{{text.author.url}}">{{text.author.name}}</a></li>
    <li>with</li>
    <li><a href="{{text.advisor.url}}">{{text.advisor.name}}</a></li>
  </ul>
  <div class="marks">
    <img src="DIGEST(/images/tmdsc/tmd-crystal-top.png)"
         alt="TMD crystal">
    <img src="DIGEST(/images/ucr-logo-white.svg)"
         alt="{{text.ucr.name}}">
  </div>
</header>

<section class="slide-background">
  <h2>Background</h2>
  <div class="background-2d">
    <figure class="fig-graphene">
      <figcaption>
        By AlexanderAlUS (Own work)
        [<a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0
        </a>
        or
        <a href="http://www.gnu.org/copyleft/fdl.html">GFDL</a>],
        <a href="https://commons.wikimedia.org/wiki/File%3AGraphen.jpg">
          via Wikimedia Commons
        </a>
      </figcaption>
      <img src="DIGEST(/images/graphene.jpg" alt="">
    </figure>
    <div>
      <h3>2D Materials promise novel application</h3>
      <ul>
        <li>Graphene discovered 2004</li>
        <li>Unique properties from the bulk</li>
        <li>Hexagonal lattice, high electron mobility</li>
        <li>Relativistic low-energy model: Dirac cones, linear dispersion</li>
        <li>Monolayer TMDs: hexagonal lattice</li>
        <li>Gapped with strong spin-orbit coupling</li>
        <li>Strong, flexible &amp; transparent</li>
        <li>Both excellent candidates for spintronic devices</li>
      </ul>
    </div>
  <div class="background-spin">
    <h3>Spintronics</h3>
    <ul>
      <li>Nobel Prize for GMR in 2007</li>
      <li>A future with devices built on spin-current</li>
      <li>Smaller and lower power</li>
      <li>Need to find suitable materials</li>
      <li>Graphene? Predicted excellent conductor for spin-current</li>
      <li>TMDs? No spin degeneracy and spin couples to light polarization</li>
    </ul>
  </div>
  </div>
</section>

<section class="slide-geometry">
  <h2>Device geometry</h2>
  <div class="main">
    <ul class="equation">
      <li>\( L \) : contact spacing</li>
      <li>\( D \) : diffusion constant</li>
      <li>\( \tau \) : spin lifetime</li>
      <li>\( \lambda = \sqrt{D \tau} \)</li>
      <li>\( \omega = g \mu_B B / \hbar \)</li>
    </ul>
    <figure class="device">
      <img class="spin-valve"
      src="DIGEST(/images/spin-lifetime/tikz-nonlocal_spin_valve.png)" />
    </figure>
    <ul class="equation">
      <li>
        \( \mu_s = \frac{1}{2}
        \left( \mu_{\uparrow} - \mu_{\downarrow} \right) \)
      </li>
      <li>
        \( J_{\uparrow \downarrow}
        = \sigma_{\uparrow \downarrow} \nabla \mu_{\uparrow \downarrow} \)
      </li>
      <li>
        \( J_{\uparrow \downarrow}^C = \Sigma_{\uparrow \downarrow}
        \left( \mu^N_{\uparrow \downarrow}
        - \mu^F_{\uparrow \downarrow} \right)_c \)
      </li>
      <li>\( J = J_{\uparrow} + J_{\downarrow} \)</li>
      <li>\( J_s = J_{\uparrow} - J_{\downarrow} \)</li>
    </ul>
  </div>
  <div>
    <p>$$D \nabla^2 \mu_s - \frac{\mu_s}{\tau} + \omega \times \mu_s = 0$$</p>
    <p>$$V \propto \mu_s^N(x = L)$$</p>
    <p>$$R_\text{NL} = V / I$$</p>
  </div>
  {{cite references id="ActaPhysicaSlovaca.57.4_5.565-907"}}
  {{cite references id="PhysRevB.37.5312"}}
  {{cite references id="PhysRevB.67.052409"}}
  {{cite references id="PhysRevB.80.214427"}}
</section>
