<header class="slide-title">
  <h1 class="title">
    <span class="title-main">{{text.title.main}}</span>
    <span class="title-sub">{{text.title.sub}}</span>
  </h1>
  <h2 class="subtitle">{{text.subtitle}}</h2>
  <date class="date">August 2, 2016</date>
  <ul class="authors">
    <li><a href="{{text.author.url}}">{{text.author.name}}</a></li>
    <li>with</li>
    <li><a href="{{text.advisor.url}}">{{text.advisor.name}}</a></li>
  </ul>
  <div class="marks">
    <img src="DIGEST(/images/tmdsc/tmd-crystal-top.png)"
         alt="TMD crystal">
    <img src="DIGEST(/images/ucr-logo-white.svg)"
         alt="{{text.ucr.name}}">
  </div>
</header>
